html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #162034;
  color: rgb(211, 211, 211);
}

.heading1 {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  text-align: center;
}

.inputs-div {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nameInput, .valueInput {
  margin: 0 10px;
  height: 20px;
  width: 200px;
}

.buttons-div > button {
  height: 40px;
  width: 150px;
  font-size: 18px;
  font-family: serif;
  background-color: transparent;
  color: rgb(221, 221, 221);
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  transition: background 0.3s ease;
}

.buttons-div > button:hover {
  background: green;
  transition: background 0.3s ease;
}

.buttons-div {
  position: fixed;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}

ul,
p {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

p {
  width: 100%;
}

li {
  padding-top: 10px;
}

#loadingLogo {
  width: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.item {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;

  button {
    margin-right: 10px;
    transform: translateY(3px);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.trash-icon {
  margin: auto;
  transform: translateY(2px);
  color: white;
}

.sort-buttons {
  position: fixed;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 10px;

  button {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px 15px 10px 15px;
    color: rgb(211, 211, 211);
    font-size: 12px;
    transition: background 0.3s ease;
  }
  button:hover {
    background: green;
    transition: background 0.3s ease;
  }
}